* {box-sizing: border-box;}

button:disabled,
button[disabled]{
  
  background-color: #cccccc;
  color: #666666;
}

.App {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
  background-color: rgb(255, 228, 74);
  margin: 0;

  padding:0;
  /*height:100%*/;
  
  

}

html {
  margin:0;
  padding:0;
  /*height:100%*/;
   
}

header{
  background-color: rgb(255, 233, 111);
  border-bottom: 1px solid black;
     
}

header input {
  border: 1px solid black;

}

.LogoutForm .buttonLinkRight {

  float: none;
  background: none;
  border: none;
  padding: 2px 0;
  color:rgb(95, 168, 197);
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  margin: 0 10px 10px;
}

.Minions{
    
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 100%;
  background-color: rgb(253, 218, 17);;

}

.Minion {
  margin: 20px 20px;
  max-width: 250px;
  padding-bottom: 40px;
  
  text-align: center;

  
}

.Minion li  {
  list-style-type: none;
  font-size: 30px;
  font-weight: bold;
  
}

.Minion p  {
  max-width: 100%;
  margin: 6px 10px;
  word-break:break-word;
  height: 86px;
  overflow: hidden;
  
}

.Minion img  {
  display: block;
  max-width: 100%;
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  
  
}

.ButtonBook {
  background-color: lightskyblue;
  color: black;
  border: 1px solid black;
  cursor: pointer;
  text-align: center;
}

.signTypeButtons {

  justify-content: center;

  display: flex;
  
  margin: 0 auto 10px 0px;
  flex-wrap: wrap;
  max-width: 100%;  
}

.signTypeButtons button{
  
  
  text-align: center;
  background: none;
  border: none;
  padding: 2px 0;
  color:rgb(95, 168, 197);
  cursor: pointer;
  font-weight: bold;
  
  
  font-size: 16px;

}

.ButtonSubmit {

  

  background-color: lightskyblue;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  float: right;
  border: 1px solid black;

}

.MinionsUnavalable  {
  margin-top: 40px;
  font-size: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.AlertLeft {
  color: red;
  font-weight: bold;
  
  font-size: 12px;
  margin: 4px auto;

  float: left;
 
}

.Alert {
  font-size: 16px;
  color: red;
  font-weight: bold;
  
 
}

@media only screen and (max-width: 1000px) {


  header{
    text-align: center;
  }
  
  .Welcome {
    font-size: 20px;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
  }

  
  .MinionsInstruct1 {
    font-size: 32px;
    margin-left: 10px;
    margin-right: 10px;  
  }

  .MinionsInstruct2 {
    
    font-size: 18px;
    margin: 20px 10px 0px 10px;
    padding: 30px 0;
    border-bottom: 3px solid black;
    border-top: 1px solid black;

  }  

  
  
  
  
  

  .HeaderSign {
    float: none;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;

  }


  .Logo, header input, header .HeaderSign .ButtonSubmit {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
    
  }

  

  
  .Label {
    text-align: center;
    padding: 6px;
    margin: 8px 1px 0 1px;
    font-size: 18px;
    font-weight: bold;
    
  }



  .Logo {
    text-align: center;
    position: relative;
    font-size: 20px;
  }



  .signTypeButtons .LeftSignButton, .signTypeButtons .RightSignButton{
    flex: 1;
    min-width: -webkit-min-content;
    font-size: 16px;
    margin: 0 auto;
  }

  .signTypeButtons button{
    max-width: 100px;

  }

  
 

  .ButtonSubmit {
    display: block;
    width: 100%;

  }


  

  .ButtonBook {
    display: block;
    width: 100%;
    padding: 14px 28px;
    font-size: 16px;
    float: right;

  }


  .Alert {
    margin-bottom: 20px;
   
  }


  .DivSign {
    border-top: 1px solid black;
    margin-bottom: 28px;

  }
  
}
  
  
@media only screen and (min-width: 1001px) {
  

  /** {border: 1px solid black}*/

  header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    border-bottom: 1px solid black;

  }

  .Label {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 0;
    font-weight: bold;
  }


  .Logo {
    margin-left: 30px;
    margin-right: 30px;
  }

  .signTypeButtons {
    justify-content: left;
    margin: 0 auto;
    
    
  }

  .signTypeButtons button{
    
    
    font-size: 20px;

    margin-right: 60px;

  }

  .ButtonSubmit {
    float: left;
    padding: 6px 10px;
    font-size: 17px;
    margin-right: 16px;

  }

  header input {
    float: left;
    padding: 6px;
    margin: 0px 0 0 0;
    font-size: 17px;
    border: none;
    width:200px;
    background-color: rgb(253, 250, 235);
    border: 1px solid black;
  }

  .AlertLeft {
    text-align: left;
    float: none;
    
    
   
  }

  .Alert {
    font-size: 30px;
    
   
  }

  .MinionsInstruct1 {
    font-size: 100px;
    margin-left: 20px;
    margin-right: 20px;  
    padding-top: 50px;
  }

  .MinionsInstruct2 {
    
    font-size: 48px;
    margin: 0px 20px 150px 20px;   
    padding-bottom: 140px;
    
    

  }  


  .Minions{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
   
  }
  

  .Minion {
    max-width: 400px;
   
  }
  
  .Minion li  {
    
    text-align: center;
    
  }


  .Welcome {
    margin-top: 60px;
    margin-bottom: -100px;
  }

  .ButtonBook {
   

    padding: 28px 56px;
    
    
    font-size: 32px;
    
    border: 1px solid black;
    margin-bottom: 30px;
    margin-top: 20px;
    
  }

  .LogoutForm .buttonLinkRight {

    text-align: center;
    
    font-size: 20px;
    margin-right: 60px;
  }
    


  }
