



header {
    overflow: hidden;
    height: 110px;

}




.Logo {
    float: left;
    display: block;
    color: black;
    text-align: center;
    
    text-decoration: none;
    font-size: 36px; 
    margin-left: 80px;
    
    
}

.HeaderSign {
    float: right;
    margin-right: 20px;
    padding-top: 32px;
    

}
