.buttonLinkRight {
    
    float: right;
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    cursor: pointer;
}

.buttonLinkLeft {
    float: left;
    
    background: none!important;
    border: none;
    padding-top: 0px!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    cursor: pointer;
}

input {
    padding: 10px;
    margin: 3px 3px 3px 0;
    font-size: 17px;
    border: none;
    width:120px;
    background-color: lightblue;
    color: black;
  }

.ButtonSubmit {
  float: right;
  padding: 10px 10px;
  margin-top: 3px;
  background-color: #555;
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
}


.ButtonSubmit:hover {
    background-color: navy;
    transition: 0.4s;
  }

.Alert  {
    color: red;
    float: left;
    margin-right: 3px;     
}